<h1>Welcome to the Movies Project</h1>
<div class="movies-wrapper">
    {{#each movies}}
    <div class="movie-item">
        <img src="{{imgPath}}" alt="">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
    </div>
    {{else}}
    <p>There are no movies yet!</p>
    {{/each}}
</div>
<a href="/movie/add">Add a movie</a>